* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
    color: var(--grey-color);
    /* Para os filhos nao ultrapassarem o tamanho do pai */
}

:root{
    --background-color: #ffffff;
    --white-color     : #f2f2f2;
    --red-color       : #F21D2F;
    --orange-color    : #F2600C;
    --grey-color      : #333;
}

body {
    background-color: var(--background-color);
    padding-top: 80px; /* Altura do menu */
}

header {
    display: flex;
    align-items: center; /* Para centralizar verticalmente os itens */
    padding: 15px 70px;
    box-shadow: 0 10px 5px -10px  rgba(0, 0, 0, 0.145);
    width: 100%;
    background-color: var(--background-color);

    z-index: 1; /*Para deixar a navbar em frente a  todos os outros elementos*/
    position: fixed;
    top: 0;
}

ul {
    list-style: none;
    display: flex; 
    margin: 0;
    padding: 0;
    margin-left: 25px;
}

li {
    margin: 0px 10px 0px;
    font-weight: 100;
}

li:hover{
    cursor: pointer;
    color: var(--red-color);
}

.search-container {
    position: relative;
    margin-left: 15px;
}

.fa-magnifying-glass {
    position: absolute;
    left: 12px; 
    top: 50%; 
    transform: translateY(-50%); /* Centraliza verticalmente o ícone */
    pointer-events: none;
    cursor: pointer;
    color: var(--red-color);
}

#search-input {
    width: 500px;
    background-color: var(--white-color);
    border: none;
    border-radius: 7px;
    height: 40px;
    padding: 25px;
    margin-right: 25px;
    padding-left: 40px;
}

input:focus {
    background-color: var(--white-color);
    box-shadow: 0 0 0 0; /*remove as bordas quando for digitar*/
    outline: 0;
}

.header-carrinho {
    display: flex;
    justify-content: flex-end; /* Alinha os itens à direita */
    width: 100%;
}

.carrinho-sacola {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.carrinho-sacola i {
    margin-right: 8px;
    font-size: 23px;
    color: var(--red-color);
}

.carrinho-sacola span {
    flex-direction: column;
    justify-content: flex-end;
    display: flex;
}

/* ======= Inicio dos banner ======= */

.margin-top {
    margin-top: 20px;
}

.carousel-container {
    display: flex;
    justify-content: center;
    
}

.carousel-container img {
    width: 600px;
    cursor: pointer;
    margin: 0px 7px;
    border-radius: 12px;
}

.carousel-container img:hover {
    transform: scale(1.01);
    box-shadow: 0 2px 8px rgba(0,0,0,.12);
}

/* ======= Inicio das opções ======= */

.main-layout {
    /* Define o tamanho maximo q os itens iram ocupar na pagina */
    margin: auto;
    display: flex;
    max-width: 1170px;
    flex-direction: column;
    justify-content: space-between;
}

.opcoes-container {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.opcoes-slide {
    border-radius: 12px;
    transition: all .2s linear;    
}

.opcoes-slide:hover,
.card-produto:hover {
    scale: 1.01;
    transform: scale(1.02);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.opcoes-slide button {
    border: none;
    cursor: pointer;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    align-items: center; /* faz os nomes ficarem centralizados */
}

.opcoes-slide img {
    height: 80px;
    width: 100px;
}

.opcoes-slide span {
    padding: 8px;
}

/* ======= Inicio dos cards ======= */

.explore-menu{
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    margin: 30px;
    font-size: 20px;
}

.explore-menu span{
    color: var(--red-color);
}

.secao-cardapio {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.secao-cardapio hr {
    flex: 1;
    border-color: var(--red-color);
    margin-left: 10px;
}

.nome-secao {
    font-weight: bold;
}

.tudo-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center; /* Adicione esta linha */
    /* margin-top: 20px; */
}

  
.card-produto {
    background-color: var(--white-color);
    border-radius: 20px;

    width: 210px;
    margin-bottom: 25px;
    padding: 10px;
    box-sizing: border-box;

    display: flex;
    text-align: center;
    flex-direction: column;
}


.card-produto img {
    width: 140px;
    margin: auto;
    height: auto;
    mix-blend-mode: multiply;  /*Remove o fundo da img*/
}

.nome-produto{
    color: var(--orange-color);
    font-weight: bolder;
    margin-top: 10px;
}

.desc-produto{
    font-size: 13px;
    margin-top: 10px;
}

.opcoes-produto{
    margin: 15px 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Quantidade, valor e carriho lado a lado com espaçamento */
}

.quantidade-produto {
    background-color: var(--background-color);
    border-radius: 10px;
}

.quantidade-produto span {
    color: var(--orange-color);
    font-weight: bolder;
}

.quantidade-produto button{
    background-color: transparent;
    color: var(--grey-color);
    
    padding: 6px;
    cursor: pointer;
    border: none;
    /* margin: 0px 9px; */
    font-weight: bolder;
}

.adicionar-produto i {
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 6px 8px;
    /* Deixa a cor mais alta pra ficar largo */
    cursor: pointer;
}

.adicionar-produto button {
    border: none;
    background-color: transparent;
}

.valor-produto {
    color: var(--red-color);
    font-weight: bolder;
    font-size: small;
}

.botoes-paginas-container {
    display: flex;
    justify-content: center;
    width: 20%;
    margin: auto;
}

.botoes-paginas {
    justify-content: space-between;
    margin-bottom: 20px;
}

.botoes-paginas button {
    border: none;
    margin: 0 4px;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    cursor: pointer;
    font-weight: bolder;
    background-color: var(--white-color);
    color: var(--red-color);
}

.botoes-paginas button:hover {
    scale: 1.01;
    transform: scale(1.02);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.371);
}

/* ============================================================== */