* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
    /* Para os filhos nao ultrapassarem o tamanho do pai */
}

:root{
    --background-color: #ffffff;
    --white-color     : #e8e8e8;
    --red-color       : #F21D2F;
    --orange-color    : #F2600C;
    --grey-color      : #333;
}

body {
    background-color: var(--background-color);
}

header {
    display: flex;
    align-items: center; /* Para centralizar verticalmente os itens */
    padding: 20px 30px;
}

ul {
    list-style: none;
    display: flex; 
    margin: 0;
    padding: 0;
}

li {
    margin: 0px 20px 0px;
}

.container-cards {
    max-width: 650px;
    /* max-width: 1076px */
    margin: auto;
}

.explore-menu{
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    margin-top: 45px;
    font-size: 20px;
}

.explore-menu span{
    color: var(--red-color);
}

.tudo-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; /* Adicione esta linha */
    margin-top: 20px;
}

  
.card-produto {
    background-color: var(--white-color);
    border-radius: 20px;

    width: 210px;
    margin: 3px;
    padding: 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    text-align: center;
}


.card-produto img {
    width: 140px;
    margin: auto;
    height: auto;
    mix-blend-mode: multiply;  /*Remove o fundo da img*/
}

.nome-produto{
    color: var(--orange-color);
    font-weight: bolder;
    margin-top: 10px;
}

.desc-produto{
    font-size: 13px;
    margin-top: 10px;
}

.opcoes-produto{
    margin: 15px 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Quantidade, valor e carriho lado a lado com espaçamento */
}

.quantidade-produto {
    background-color: var(--background-color);
    border-radius: 10px;
}

.quantidade-produto span {
    color: var(--orange-color);
    font-weight: bolder;
}

.quantidade-produto button{
    background-color: transparent;
    color: var(--grey-color);
    
    padding: 6px;
    cursor: pointer;
    border: none;
    /* margin: 0px 9px; */
    font-weight: bolder;
}

.adicionar-produto i {
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 6px 8px;
    /* Deixa a cor mais alta pra ficar largo */
    cursor: pointer;
}

.adicionar-produto button {
    border: none;
    background-color: transparent;
}

.valor-produto {
    color: var(--red-color);
    font-weight: bolder;
    font-size: small;
}

/* ============================================================== */

.compras {
    margin-top: 25px;
}

.lista-pedido p {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    font-size: 20px;
}

.lista-pedido span {
    color: var(--red-color);
}

.lista-compras {
    margin: 25px 0px;
    display: flex;
    justify-content: center;
    text-align: center;
}

table {
    flex: 1;
}

table i{
    cursor: pointer;
    color: var(--red-color);
}

td {
    padding: 12px 0px;
}