* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
    /* Para os filhos nao ultrapassarem o tamanho do pai */
}

:root{
    --white-cor   : #e8e8e8;
    --red-color   : #F21D2F;
    --orange-color: #F2600C;
    --grey-color  : #333;
}

body {
    background-color: #f2f2f2;
}

.explore-menu{
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    margin-top: 45px;
    font-size: 20px;
}

.explore-menu span{
    color: var(--red-color);
}

.tudo-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; /* Adicione esta linha */
    margin-top: 20px;
}

  
.card-produto {
    background-color: var(--white-cor);
    border-radius: 20px;

    width: 200px;
    margin: 3px;
    padding: 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-produto img {
    width: 140px;
    margin: auto;
    height: auto;
    mix-blend-mode: multiply;  /*Remove o fundo da img*/
}
  
.nome-produto{
    color: var(--orange-color);
    font-weight: bolder;
}

.desc-produto{
    font-size: 13px;
    margin-top: 10px;
}

.opcoes-produto{
    margin: 15px 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantidade-produto span {
    color: var(--orange-color);
    font-weight: bold;
}
.quantidade-produto button{
    cursor: pointer;
    background-color: var(--white-cor);
    border: none;
    margin: 0px 7px;
    font-weight: bolder;
}

.adicionar-produto {
    cursor: pointer;
}
