body {
    padding-top: 80px; /* Altura do menu */
}

.navbar-container {
    display: flex;
    align-items: center; /* Para centralizar verticalmente os itens */
    padding: 15px 70px;
    box-shadow: 0 10px 5px -10px  rgba(0, 0, 0, 0.145);
    width: 100%;
    background-color: var(--background-color);

    z-index: 1; /*Para deixar a navbar em frente a  todos os outros elementos*/
    position: fixed;
    top: 0;
}

.logo img {
    cursor: pointer;
}

.links-navbar {
    list-style: none;
    display: flex; 
    margin: 0;
    padding: 0;
    margin-left: 25px;
}

.links-navbar li {
    margin: 0px 10px 0px;
    font-weight: 100;
}

.links-navbar li:hover{
    cursor: pointer;
    color: var(--red-color);
}

.search-container {
    position: relative;
    margin-left: 15px;
}

.fa-magnifying-glass {
    position: absolute;
    left: 12px; 
    top: 50%; 
    transform: translateY(-50%); /* Centraliza verticalmente o ícone */
    pointer-events: none;
    cursor: pointer;
    color: var(--red-color);
}

#search-input {
    width: 500px;
    background-color: var(--white-color);
    border: none;
    border-radius: 7px;
    height: 40px;
    padding: 25px;
    margin-right: 25px;
    padding-left: 40px;
}

input:focus {
    background-color: var(--white-color);
    box-shadow: 0 0 0 0; /*remove as bordas quando for digitar*/
    outline: 0;
}

.header-carrinho {
    display: flex;
    justify-content: flex-end; /* Alinha os itens à direita */
    width: 100%;
}

.header-carrinho a {
    text-decoration: none;
}

.carrinho-sacola {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.carrinho-sacola i {
    margin-right: 8px;
    font-size: 23px;
    color: var(--red-color);
}

.carrinho-sacola span {
    flex-direction: column;
    justify-content: flex-end;
    display: flex;
}
