.search-container {
    display: none;
}
/* Tentar aumentar a grossura (eixo y) da navbar para o tamanho 45px */
.navbar-container {
    padding-top: 100px;
}


.margin-top {
    margin-top: 30px;
}


.main-layout {
    margin: auto;
    max-width: 1170px;
}

.itens-header {
    width: 100%;
    display: flex;
    align-content: center;
}

.itens-desc {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px 0; /* 10px é o espaçamento horizontal, 0 é o vertical */
}

.itens-desc th {
    text-align: center;
    
    background-color: var(--white-color);
    padding: 6px 35px;
    border-radius: 7px;
}

.itens-compras td{
    padding: 5px 35px;
    text-align: center;

}

.itens-compras img {
    width: 100px;
    mix-blend-mode: multiply;
}